* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.screen {
    display: flex;
    height: 100vh;
}

.leftside {
    flex: 1;
}

.leftside img {
    max-width: 300%;
    height: 100vh;
}

.rightside {
    width: 400px;
    padding: 50px;
}

.rightside label {
    display: block;
    margin-bottom: 20px;
}

.rightside input {
    width: 100%;
    border: 1 px solid #999;
    border-radius: 5px;
    padding: 8px;
    font-size: 14px;
    outline: 0;
    cursor: pointer;
    
}

.error {
    font-size: 14px;
    font-weight: bold;
}



